                     
	<div style="background: url(image/footer-bg.png); width: 100%; display: block; overflow: hidden; float: left; margin: 0px auto 0px auto;" class="___flow___">

		<div class="_in_content_" style="margin-top: 30px; margin-bottom: 30px;">

			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
				<div class="_txt___" style="font-size: inherit; color: #aaa9a9;">Avidexstandard.com is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the FOREX, CRYPTOCURRENCY & BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets</div>
			</div>

			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Quick Links</h1>
				<a class="_txt___ _fLink" href="/" style="font-size: inherit; color: #ff7913;">Home</a>
				<a class="_txt___ _fLink" href="/terms" style="font-size: inherit; color: #ff7913;">Terms & Conditions</a>
				<a class="_txt___ _fLink" href= "/login" data-target="#login-form"><i class="fa fa-user"></i>login</a></li>
				<a class="_txt___ _fLink" href="/register" data-target="#register-form"><i class="fa fa-sign-in"></i"/register" data-target="#register-form"><i class="fa fa-sign-in"></i>register</a></li>
                                </ul></li>
                                </ul>
				<a class="_txt___ _fLink" href="#" target="_blank" style="font-size: inherit; color: #ff7913;">Chat With an Expert</a>
			</div>

			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Important Notice</h1>
				<div class="_txt___" style="font-size: inherit; color: #aaa9a9;">Avidexstandards.com is one of the leading platforms in the United States offering binary options, Forex and spreads. Regulated by the CFTC and based in Manchester. It is also regulated by the IFSC of Belize, as well as the Cyprus Securities and Exchange Commission.</div>
			</div>
			
			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Contact Us</h1>
				<p class="_txt___ _cLink">Address: <span style="font-size: inherit; color: #ff7913; text-transform: lowercase;">UK Southampton</span></p>
				<p class="_txt___ _cLink">Email: <a href="mailto::Support@Avidexstandards.com" style="font-size: inherit; color: #ff7913; text-transform: lowercase;">Support@Avidexstandards.com</a></p>
			
			</div>
		</div>

	</div>

	<div style="background: #232733; width: 100%; display: block; overflow: hidden; float: left; padding: 20px; margin: 0px; background-position: center;">

		<div class="_in_content_">

			<center>
				<span style="margin-bottom: 20px; font-size: 13px; width: 100%; display: block; max-width: 500px; color: #aaa9a9;">
					You are granted limited non-exclusive non-transferable rights to use the IP provided on this website for personal and non-commercial purposes in relation to the services offered on the Website only.
				</span>
				<span style="color: #FFF;">Avidexstandard.com, &copy; 2008 - 2024</span>
			</center>
		</div>
		<script src="../code.tidio.co_443/o2phxcjtzstgjb4nu4ts59t8crn5jew1.js" async></script>
<!-- GetButton.io widget -->
<!--<script type="text/javascript">-->
<!--    (function () {-->
<!--        var options = {-->
<!--            
<!--            email: "support@Avidexstandard.com", // Email--
<!--            call_to_action: "Contact Support.", // Call to action-->
<!--            button_color: "#129BF4", // Color of button-->
<!--            position: "left", // Position may be 'right' or 'left'-->
<!--            order: "whatsapp,email", // Order of buttons-->
<!--            pre_filled_message: "Hello, how may we help you? Just send us a message", // WhatsApp pre-filled message-->
<!--        };-->
<!--        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;-->
<!--        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';-->
<!--        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };-->
<!--        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);-->
<!--    })();-->
<!--</script>-->
<!-- /GetButton.io widget -->
<!-- scripts -->
	<script src="particles.js-master/particles.js"></script>
	<script src="particles.js-master/demo/js/app.js"></script>
	<script type="text/javascript" src="alert/js/jquery.fake-notification.min.js"></script>
	<!-- stats.js -->
	<!-- <script src="./particles.js-master/demo/js/lib/stats.js"></script> -->
	<script>
	  var count_particles, stats, update;
	  stats = new Stats;
	  stats.setMode(0);
	  stats.domElement.style.position = 'absolute';
	  stats.domElement.style.left = '0px';
	  stats.domElement.style.top = '0px';
	  document.body.appendChild(stats.domElement);
	  count_particles = document.querySelector('.js-count-particles');
	  update = function() {
	    stats.begin();
	    stats.end();
	    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
	      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
	    }
	    requestAnimationFrame(update);
	  };
	  requestAnimationFrame(update);
	</script>
	<script>
		$(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY","PHILIPPINES", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [100,2500,555,666,444,333,333,1000,1200,1500,2500,3600,10000,5000],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#FFFFFF',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'black',
                IconColor: '#000000',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, 'index-2.html', '_blank']
                
            });         
        }); 				
	</script>
	<script type="text/javascript" src="js/j.html"></script>
</body>

<!-- Mirrored from Avidexstandard.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Apr 2024 14:12:44 GMT -->

<!-- Mirrored from avidexstandard.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jul 2024 07:35:22 GMT -->
</html>	<!-- scripts -->
	<script src="particles.js-master/particles.js"></script>
	<script src="particles.js-master/demo/js/app.js"></script>
	<script src="alert/js/jquery.fake-notification.min.js"></script>
    <script src="folder/js/notify.js"></script>
	<script src="folder/js/toastr.min.js"></script>
	<script src="cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
	<script type="text/javascript">
		(function () {
			var options = {
				whatsapp: "+447418314608", // WhatsApp number
				call_to_action: "Get support", // Call to action
				position: "left", // Position may be 'right' or 'left'
			};
			var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
			var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
			s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
			var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
		})();
		</script>
	<script>
		setInterval(function(){
	        let info = faker.helpers.createCard();
	        let {name, email, address:{city,country,zipcode}} = info; 
	        var amount = (Math.random()*10000).toFixed(2);
	        var label_message = name+" invested the sum of $"+amount;
	        //toastr["warning"](label_message, header_message);
	        var html =  label_message;   
	        $.notify( html,
	        { position:"left"}
	        );
	    }, 15000);

	    setInterval(function(){
	        let info = faker.helpers.creat
eCard();
	        let {name, email, address:{city,country,zipcode}} = info; 
	        var amount = (Math.random()*100000).toFixed(2);
	        var label_message = "<font color='white'>"+name+" who lives in city of "+city+","+country+". withdraw the sum of $"+amount+".</font>";
	        var header_message = "<font color='white'>Recent Withdrawal!</font>";
	        toastr["success"](label_message, header_message);
	        
	    }, 10000);
	    //message
	    toastr.options = {
	        "closeButton": true,
	        "debug": false,
	        "newestOnTop": false,
	        "progressBar": false,
	        "positionClass": "toast-top-right",
	        "preventDuplicates": false,
	        "onclick": null,
	        "showDuration": "600",
	        "hideDuration": "1000",
	        "timeOut": "5000",
	        "extendedTimeOut": "1000",
	        "showEasing": "swing",
	        "hideEasing": "linear",
	        "showMethod": "fadeIn",
	        "hideMethod": "fadeOut"
	    }
	    $.notify.defaults({ className: "info" });

	  	var count_particles, stats, update;
	  	stats = new Stats;
	  	stats.setMode(0);
	  	stats.domElement.style.position = 'absolute';
	  	stats.domElement.style.left = '0px';
	  	stats.domElement.style.top = '0px';
	  	document.body.appendChild(stats.domElement);
	  	count_particles = document.querySelector('.js-count-particles');
	  	update = function() {
	    	stats.begin();
	    	stats.end();
	    	if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
	      		count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
	    	}
	    requestAnimationFrame(update);
	  	};
	  	requestAnimationFrame(update);
	</script>
    <script>
		$(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [1000,2500,5550,6660,4440,3330,6767],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#000000',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'white',
                IconColor: '#ffffff',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, 'index-3.html', '_blank']
                
            });         
        }); 				
        <!-- GetButton.io widget -->


</body>
</html>