<!doctype html><!-- saved from url=(0014)about:internet -->
<html lang="en" dir="ltr">

<head>
  <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/x-icon" href="https://app.avidexstandard.com/assets/images/brand/favicon.ico" /> <!-- TITLE -->
  <title>Wallets List -  Avidexstandard</title>
  <link href="https://app.avidexstandard.com/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> <!-- STYLE CSS -->
  <link href="https://app.avidexstandard.com/assets/css/style.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/css/dark-style.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/css/skin-modes.css" rel="stylesheet" /> <!-- SIDE-MENU CSS -->
  <link href="https://app.avidexstandard.com/assets/css/sidemenu.css" rel="stylesheet" id="sidemenu-theme">
  <link href="https://app.avidexstandard.com/assets/css/general-custom.css" rel="stylesheet">
  <!--C3 CHARTS CSS -->
  <link href="https://app.avidexstandard.com/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" /> <!-- P-scroll bar css-->
  <link href="https://app.avidexstandard.com/assets/plugins/p-scroll/perfect-scrollbar.css" rel="stylesheet" />
  <!--- FONT-ICONS CSS -->
  <link href="https://app.avidexstandard.com/assets/css/icons.css" rel="stylesheet" /> <!-- SIDEBAR CSS -->
  <link href="https://app.avidexstandard.com/assets/plugins/sidebar/sidebar.css" rel="stylesheet"> <!-- SELECT2 CSS -->
  <link href="https://app.avidexstandard.com/assets/plugins/select2/select2.min.css" rel="stylesheet" /> <!-- INTERNAL Data table css -->
  <link href="https://app.avidexstandard.com/assets/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/plugins/datatable/responsive.bootstrap5.css" rel="stylesheet" /> <!-- COLOR SKIN CSS -->
  <link id="theme" rel="stylesheet" type="text/css" media="all" href="https://app.avidexstandard.com/assets/colors/color1.css" />
  <!-- INTERNAL Switcher css -->
  <link href="https://app.avidexstandard.com/assets/switcher/css/switcher.css" rel="stylesheet" />
  <link href="https://app.avidexstandard.com/assets/switcher/demo.css" rel="stylesheet" />
    <link href="https://app.avidexstandard.com/assets/font-awesome/font-awesome.css" rel="stylesheet" />
     <link href="https://app.avidexstandard.com/assets/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <style>
    .card-widget {
        border: 0;
        position: relative
    }
    
    .widget-user .widget-user-header {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        height: 135px;
        padding: 1rem;
        text-align: center
    }
    
    .widget-user .widget-user-username {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
    }
    
    .widget-user .widget-user-desc {
        margin-top: 0
    }
    
    .widget-user .widget-user-image {
        left: 50%;
        margin-left: -45px;
        position: absolute;
        top: 80px
    }
    
    .widget-user .widget-user-image>img {
        border: 3px solid #fff;
        height: auto;
        width: 90px
    }
    
    .widget-user .card-footer {
        padding-top: 50px
    }
    
    .widget-user-2 .widget-user-header {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        padding: 1rem
    }
    
    .widget-user-2 .widget-user-username {
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 5px;
        margin-top: 5px
    }
    
    .widget-user-2 .widget-user-desc {
        margin-top: 0
    }
    
    .widget-user-2 .widget-user-desc,
    .widget-user-2 .widget-user-username {
        margin-left: 75px
    }
    
    .widget-user-2 .widget-user-image>img {
        float: left;
        height: auto;
        width: 65px
    }
    
    .img-circle {
        border-radius: 50%;
    }
</style>
     <style>
        .crisp-client .cc-kv6t[data-full-view=true] .cc-1xry .cc-unoo {
            bottom: 85px!important;
        }
     </style>
     
    <style>
        /*.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {*/
        /*       font-family: "Times New Roman", Times, sans-serif !important;*/
        /*}*/
        /*body{*/
        /*     font-family: "Times New Roman", Times, sans-serif !important;*/
        /*}*/
        /*.btn{*/
        /*     font-family: "Times New Roman", Times, sans-serif !important;*/
        /*}*/
     </style>

  <script type="text/javascript">
    <!--
    iv4v = document.all;
    sqdl = iv4v && !document.getElementById;
    umqv = iv4v && document.getElementById;
    bgkk = !iv4v && document.getElementById;
    nftp = document.layers;

    function x2wt(ucaw) {
      try {
        if (sqdl) alert("");
      } catch (e) {}
      if (ucaw && ucaw.stopPropagation) ucaw.stopPropagation();
      return false;
    }

    function rwds() {
      if (event.button == 2 || event.button == 3) x2wt();
    }

    function k4nu(e) {
      return (e.which == 3) ? x2wt() : true;
    }

    function e21n(db2m) {
      for (ig36 = 0; ig36 < db2m.images.length; ig36++) {
        db2m.images[ig36].onmousedown = k4nu;
      }
      for (ig36 = 0; ig36 < db2m.layers.length; ig36++) {
        e21n(db2m.layers[ig36].document);
      }
    }

    function c6rd() {
      if (sqdl) {
        for (ig36 = 0; ig36 < document.images.length; ig36++) {
          document.images[ig36].onmousedown = rwds;
        }
      } else if (nftp) {
        e21n(document);
      }
    }

    function fvtv(e) {
      if ((umqv && event && event.srcElement && event.srcElement.tagName == "IMG") || (bgkk && e && e.target && e
          .target.tagName == "IMG")) {
        return x2wt();
      }
    }
    if (umqv || bgkk) {
      document.oncontextmenu = fvtv;
    } else if (sqdl || nftp) {
      window.onload = c6rd;
    }

    function e48p(e) {
      assd = e && e.srcElement && e.srcElement != null ? e.srcElement.tagName : "";
      if (assd != "INPUT" && assd != "TEXTAREA" && assd != "BUTTON") {
        return false;
      }
    }

    function rgnp() {
      return false
    }
    if (iv4v) {
      document.onselectstart = e48p;
      document.ondragstart = rgnp;
    }
    if (document.addEventListener) {
      document.addEventListener('copy', function (e) {
        assd = e.target.tagName;
        if (assd != "INPUT" && assd != "TEXTAREA") {
          e.preventDefault();
        }
      }, false);
      document.addEventListener('dragstart', function (e) {
        e.preventDefault();
      }, false);
    }

    function izxc(evt) {
      if (evt.preventDefault) {
        evt.preventDefault();
      } else {
        evt.keyCode = 37;
        evt.returnValue = false;
      }
    }
    var vg80 = 1;
    var uzqg = 2;
    var oovc = 4;
    var xdmt = new Array();
    xdmt.push(new Array(uzqg, 65));
    xdmt.push(new Array(uzqg, 67));
    xdmt.push(new Array(uzqg, 80));
    xdmt.push(new Array(uzqg, 83));
    xdmt.push(new Array(uzqg, 85));
    xdmt.push(new Array(vg80 | uzqg, 73));
    xdmt.push(new Array(vg80 | uzqg, 74));
    xdmt.push(new Array(vg80, 121));
    xdmt.push(new Array(0, 123));

    function clma(evt) {
      evt = (evt) ? evt : ((event) ? event : null);
      if (evt) {
        var vq6o = evt.keyCode;
        if (!vq6o && evt.charCode) {
          vq6o = String.fromCharCode(evt.charCode).toUpperCase().charCodeAt(0);
        }
        for (var ylae = 0; ylae < xdmt.length; ylae++) {
          if ((evt.shiftKey == ((xdmt[ylae][0] & vg80) == vg80)) && ((evt.ctrlKey | evt.metaKey) == ((xdmt[
              ylae][0] & uzqg) == uzqg)) && (evt.altKey == ((xdmt[ylae][0] & oovc) == oovc)) && (vq6o ==
              xdmt[ylae][1] || xdmt[ylae][1] == 0)) {
            izxc(evt);
            break;
          }
        }
      }
    }
    if (document.addEventListener) {
      document.addEventListener("keydown", clma, true);
      document.addEventListener("keypress", clma, true);
    } else if (document.attachEvent) {
      document.attachEvent("onkeydown", clma);
    }
    -->
  </script>
  <meta http-equiv="imagetoolbar" content="no" />
  <style type="text/css">
    /* input,textarea{-webkit-touch-callout:default;-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:text;-ms-user-select:text;user-select:text} *{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none}  */
  </style>
  <style type="text/css" media="print">
    /* body{display:none}  */
  </style>
</head>

<body class="app sidebar-mini dark-mode">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  