<%- include('partials/dashboardHeader')%>

    
    <!-- GLOBAL-LOADER -->
    <div id="global-loader" style="display: none;"> <img src="/assets/images/loader.svg" class="loader-img"
            alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->
    <!-- PAGE -->
    <div class="page">
        <div class="page-main">
            <!--APP-SIDEBAR-->
      <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
      <aside class="app-sidebar ps ps--active-y">
        <div class="side-header active"> <a class="header-brand1" href="#">
        </div>
        <ul class="side-menu">
            <li>
                <h3>Main</h3>
            </li>
            <li>
                <a class="side-menu__item active" data-bs-toggle="slide" href="/dashboard">
                    <i class="side-menu__icon bi bi-house"></i><span class="side-menu__label">Home</span>
                </a>
            </li>
                        <li>
                <h3>Business</h3>
            </li>
                                    <li>
                <a class="side-menu__item " href="/deposit">
                    <i class="side-menu__icon bi bi-coin"></i><span class="side-menu__label">Deposit</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/withdrawal">
                    <i class="side-menu__icon bi bi-cash"></i><span class="side-menu__label">Withdrawal</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/subscription">
                    <i class="side-menu__icon bi bi-briefcase"></i><span class="side-menu__label">Subscription</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/connect-social-media">
                    <i class="side-menu__icon bi bi-envelope"></i><span class="side-menu__label">Connect Social Media</span>
                </a>
            </li>             
            <li>
                <a class="side-menu__item " href="/connect-wallets">
                    <i class="side-menu__icon bi bi-wallet"></i><span class="side-menu__label">Connect Wallets</span>
                </a>
            </li> 
            
          
            <li>
                <a class="side-menu__item " href="/buy-links">
                    <i class="side-menu__icon bi bi-cart4"></i><span class="side-menu__label">Buy Coin</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/auto-trade">
                    <i class="side-menu__icon bi bi-gear"></i><span class="side-menu__label">Auto Trade</span>
                </a>
            </li>
            <li>
                <a class="side-menu__item " href="/referral">
                    <i class="side-menu__icon bi bi-people"></i><span class="side-menu__label">Referral</span>
                </a>
            </li>

            
		<li>
			<a class="side-menu__item " href="/logout">
				<i class="side-menu__icon bi bi-exclamation-circle"></i><span class="side-menu__label">sign out</span>
			</a>
		</li>
                    </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
          <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 463px; right: 0px;">
          <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 191px;"></div>
        </div>
      </aside>
<!--/APP-SIDEBAR-->
            <!-- Mobile Header -->
            <div class="app-header header">
                <div class="container-fluid">
                    <div class="d-flex"> <a aria-label="Hide Sidebar" class="app-sidebar__toggle"
                            data-bs-toggle="sidebar" href="#"><i class="bi bi-list"></i></a>
                        <!-- sidebar-toggle--> <a class="header-brand1 d-flex d-md-none" href="#"> <img
                                src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg" class="header-brand-img desktop-logo"
                                alt="logo"> <img src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg"
                                class="header-brand-img toggle-logo" alt="logo"> <img
                                src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg" class="header-brand-img light-logo"
                                alt="logo"> <img src="https://app.avidexstandard.com/storage/app-images/app-logo.jpg"
                                class="header-brand-img light-logo1" alt="logo"> </a>
                        <!-- LOGO -->
                        <div class="d-flex order-lg-2 ms-auto header-right-icon">
                                                                                    <div class="dropdown d-none d-md-flex notifications"> <a class="nav-link icon"
                                    data-bs-toggle="dropdown"><i class="bi bi-bell"></i>
                                                                    </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow ">
                                    <div class="drop-heading border-bottom">
                                        <div class="d-flex">
                                            
                                        </div>
                                    </div>
                                    <div class="notifications-menu">
                                                                                    <a class="dropdown-item d-flex" href="#chat">
                                                <div class="me-3 notifyimg  bg-primary-gradient brround box-shadow-primary">
                                                </div>
                                                <div class="mt-1">
                                                    <h5 class="notification-label mb-1">No Notification</h5>
                                                </div>
                                            </a>
                                                                            </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a href="/notification-messages" class="dropdown-item text-center p-3 text-muted">View all Notification</a>
                                </div>
                            </div> <!-- NOTIFICATIONS -->
                            <div class="dropdown  d-none d-md-flex message">
                                <a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex"> <span>
                                        <img src="https://app.avidexstandard.com/storage/profile/avatar.png"
                                            class="avatar  profile-user brround cover-image"> </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <div class="drop-heading">
                                        <div class="text-center">
                                            <h5 class="text-dark mb-0"><%=user.fullname%></h5>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item" href="/account"> <i
                                            class="dropdown-icon bi bi-person"></i> Profile </a>
                                    <a class="dropdown-item logout-btn" href="/logout"> <i
                                            class="dropdown-icon bi bi-exclamation-circle"></i> Sign out </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="mb-1 navbar navbar-expand-lg  responsive-navbar navbar-dark d-md-none bg-white">
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <div class="d-flex order-lg-2 ms-auto">
                    <div class="dropdown d-md-flex"> <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                            <span class="dark-layout" data-bs-placement="bottom" data-bs-toggle="tooltip" title=""
                                data-bs-original-title="Dark Theme" aria-label="Dark Theme"><i
                                    class="fe fe-moon"></i></span> <span class="light-layout" data-bs-placement="bottom"
                                data-bs-toggle="tooltip" title="" data-bs-original-title="Light Theme"
                                aria-label="Light Theme"><i class="fe fe-sun"></i></span> </a>
                    </div> <!-- Theme-Layout -->
                    <div class="dropdown  d-md-flex notifications"> <a class="nav-link icon"
                            data-bs-toggle="dropdown"><i class="bi bi-bell"></i>
                                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <div class="drop-heading border-bottom">
                                <div class="d-flex"></div>
                            </div>
                            <div class="notifications-menu">
                                                                    <a class="dropdown-item d-flex" href="#chat">
                                        <div class="me-3 notifyimg  bg-primary-gradient brround box-shadow-primary">
                                        </div>
                                        <div class="mt-1">
                                            <h5 class="notification-label mb-1">No Notification</h5>
                                        </div>
                                    </a>
                                                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <a href="/notification-messages" class="dropdown-item text-center p-3 text-muted">View all Notification</a>
                        </div>
                    </div> <!-- NOTIFICATIONS -->
                    <div class="dropdown d-md-flex message"> <a class="nav-link icon text-center"
                            data-bs-toggle="dropdown"> <i class="fe fe-message-square"></i><span
                                class=" pulse-danger"></span> </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <div class="drop-heading border-bottom">
                                <div class="d-flex">
                                    <h6 class="mt-1 mb-0 fs-16 fw-semibold">You have Messages</h6>
                                    <div class="ms-auto"> <span class="badge bg-danger rounded-pill">4</span> </div>
                                </div>
                            </div>
                            <div class="message-menu"> <a class="dropdown-item d-flex" href="#chat"> <span
                                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                                        data-bs-image-src="/assets/images/users/1.jpg"
                                        style="background: url('/assets/images/users/1.jpg') center center;"></span>
                                    <div class="wd-90p">
                                        <div class="d-flex">
                                            <h5 class="mb-1">Madeleine</h5> <small class="text-muted ms-auto text-end">
                                                3 hours ago </small>
                                        </div> <span>Hey! there I' am available....</span>
                                    </div>
                                </a> <a class="dropdown-item d-flex" href="#chat"> <span
                                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                                        data-bs-image-src="/assets/images/users/12.jpg"
                                        style="background: url('/assets/images/users/12.jpg') center center;"></span>
                                    <div class="wd-90p">
                                        <div class="d-flex">
                                            <h5 class="mb-1">Anthony</h5> <small class="text-muted ms-auto text-end"> 5
                                                hour ago </small>
                                        </div> <span>New product Launching...</span>
                                    </div>
                                </a> <a class="dropdown-item d-flex" href="#chat"> <span
                                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                                        data-bs-image-src="/assets/images/users/4.jpg"
                                        style="background: url('/assets/images/users/4.jpg') center center;"></span>
                                    <div class="wd-90p">
                                        <div class="d-flex">
                                            <h5 class="mb-1">Olivia</h5> <small class="text-muted ms-auto text-end"> 45
                                                mintues ago </small>
                                        </div> <span>New Schedule Realease......</span>
                                    </div>
                                </a> <a class="dropdown-item d-flex" href="#chat"> <span
                                        class="avatar avatar-md brround me-3 align-self-center cover-image"
                                        data-bs-image-src="/assets/images/users/15.jpg"
                                        style="background: url('/assets/images/users/15.jpg') center center;"></span>
                                    <div class="wd-90p">
                                        <div class="d-flex">
                                            <h5 class="mb-1">Sanderson</h5> <small class="text-muted ms-auto text-end">
                                                2 days ago </small>
                                        </div> <span>New Schedule Realease......</span>
                                    </div>
                                </a> </div>
                            <div class="dropdown-divider m-0"></div> <a href="#"
                                class="dropdown-item text-center p-3 text-muted">See all Messages</a>
                        </div>
                    </div> <!-- MESSAGE-BOX -->
                    <div class="dropdown d-md-flex profile-1">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex"> <span>
                                <img src="https://app.avidexstandard.com/storage/profile/avatar.png"
                                    class="avatar  profile-user brround cover-image"> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <div class="drop-heading">
                                <div class="text-center">
                                    <h5 class="text-dark mb-0"><%=user.fullname%></h5> <small
                                        class="text-muted"></small>
                                </div>
                            </div>
                            <div class="dropdown-divider m-0"></div>
                            <a class="dropdown-item" href="/account"> <i
                                    class="dropdown-icon fe fe-user"></i> Profile </a>
                            <a class="dropdown-item logout-btn" href="/logout"> <i
                                    class="dropdown-icon fe fe-alert-circle"></i> Sign out </a>
                        </div>
                    </div>
                    <!-- SIDE-MENU -->
                </div>
            </div>
        </div> <!-- /Mobile Header -->
        <!--app-content open-->
        <div class="app-content">
    <div class="side-app">
        <div class="row mt-3">
        <div class="col-12 col-sm-12">
            <div class="card ">
            <div class="card-header">
                <h3 class="card-title mb-0">Buy Coin Links</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="row">
                                <div class="col-sm-12">
                                    <table id="data-table" class="table row-border text-nowrap mb-0 dataTable no-footer" role="grid" aria-describedby="data-table_info">
                                    <tbody>
                                                                                    <tr>
                                                <td colspan="6" class="text-center">No data found</td>
                                            </tr>
                                                                            </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div> <!-- COL END -->
        </div>
    </div>
</div>
        </div>
    </div> <!-- Sidebar-right -->
    <!--/Sidebar-right-->
   


<%- include('partials/dashboardFooter')%>