<%- include('partials/_header'); -%>

<body>
	<style type="text/css">
		.logo{
			/*height: 55px;*/
			float: left;
		}
		.__tL{
			padding: 0px 10px;
			border-radius: 5px;
			background: #f58634;
			float: right;
			height: 35px;
			font-size: 14px;
			font-weight: 700;
			line-height: 35px;
			text-decoration: none;
			color: #FFF;
			margin-left: 3px;
			margin-top: 8px;
		}
		.__tL:hover{
			text-decoration: none;
		}
	</style>

	<div style="background: #232733;">
		<div class="_in_content_" style="padding: 20px 15px;">
			<a href="/">
				<img class="logo hidden-xs" src="image/logo.png" style="width:200px;">
				<img class="logo visible-xs" src="image/logo.png" style="width:150px;">
			</a>
			<a class="__tL" href="/register">SIGN UP</a>
			<a class="__tL" href="/login">LOGIN</a>				
		</div>
	</div>
	<h2 class="_seg____header__" style="margin-top: 70px;">Terms & Conditions</h2>

	<div class="_in_content_">
		<center>
			<div class="col-xs-12">
				<center>
					<p class="title_p">This Agreement is entered into by and these Terms &amp; Conditions (hereinafter referred to as the “Agreement”) shall regulate the relationship between avaprotd INVESTMENT GROUP and the user (a natural or legal entity) (hereinafter referred to as the “Client”).</p>
					<span class="bottom_line"></span>

					<p class="text">The Client confirms that he/she has read, understood and accepted all information, conditions and terms set out which are open to be reviewed and can be examined by the public and which include important legal Information. </p>

					<p class="text_two">By accepting this Agreement, the Client agrees and irrevocably accepts the terms and conditions contained in this Agreement, its annexes and/or appendices as well as other documentation/information published on the Website, including without limitation to the Privacy Policy, Payment Policy, Withdrawal Policy, Code of Conduct, Order Execution Policy and Anti-Money Laundering Policy. The Client accepts this Agreement by registering an Account on the Website and depositing funds. By accepting the Agreement, and subject to the Company’s final approval, the Client enters into a legal and binding agreement with the Company.
					The terms of this Agreement shall be considered accepted unconditionally by the Client upon the Company’s receipt of an advance payment made by the Client. As soon as the Company receives the Client's advance payment, every operation made by the Client on the Trading Platform shall be subject to the terms of this Agreement.</p>

					<p class="text_two">The Client hereby acknowledges that each and any Operation, activity, transaction, order and/or communication performed by him/her on the Trading Platform, including without limitation through the Account, and the Website, shall be governed by and/or must be executed in accordance with the terms and conditions of this Agreement.</p>

					<p class="text_two">By accepting this current agreement, the Client confirms that he/she is able to receive information, including amendments to the present Agreement either via email or through the Website.</p>

					<p class="text_two">A client that is a legal entity can register with the Company not through the Website but by sending an email with its request to support@avaprotd.live. All terms and conditions contained shall at all times be applicable to the Legal Entity and the latter shall conform with such terms and conditions, obligations and rights at all times.</p>

					<p class="text_two">1. Terms<br>

					Account – means unique personified account registered in the name of the Client and which contains all of the Client’s transactions/ operations on the Trading Platform (as defined below) of the Company.<br>

					Investment Capital - means a specific amount of money deposited in a Client's Trading Account to be traded with.<br>

					Trading signal - means an automated trading robot that suggest events or conditions to enter a trade or place purchase order for an investment.<br>

					Investment Plan - means an investment package which a Client can subscribe to. 
					<br>
					</p>

					<p class="text_two">Financial Instruments - means the Financial Instruments that are available on the Company’s Trading Platform.
					CFD (Certificate for Difference) - means a tradeable contract entered into between the Client and the Company, who exchange the difference in the value of an Instrument, as specified on the Trading Platform at the time of opening a Transaction, and the value of that Instrument at the contract’s end.
					KYC documents - means the documents to be provided by the Client, including without limitation to the a copy of the passport or ID and utility bill of the Client, in case it is a natural person and/or certificates showing the management and ownership going all the way up to the ultimate beneficial owner, in case it is a legal entity, and any other documents the Company may request upon its sole discretion.
					Market - means the market on which the Financial Instruments are subject to and/or traded on.<br>
					                    
					Operations – means actions performed at the Client’s Account which include crediting of funds, return of funds, opening and closing of trade transactions.<br>

					Prices - means the prices offered to the Client for each transaction which may be changed without prior notice.<br>

					Services – means the services described in section 3 of this Agreement.<br>

					Trading Period - means the time period from Trading commencement to conclusion excluding weekends.<br>

					Trading Platform - means an electronic system on the internet that consists of all programs and technology that present quotes in real-time, allow the placement/modification/deletion of orders and calculate all mutual obligations of the Client and the Company.</p>

					<p class="text_two">2. Subject of the Agreement<br>
					The subject of the Agreement shall be the provision of Services to the Client by the Company under the Agreement and through the Trading Platform.<br>

					The Company shall carry out all transactions as provided in this Agreement on an execution-only basis. The Company is entitled to execute transactions requested by the Client as provided in this Agreement even if the transaction is not beneficial for the Client. The Company is under no obligation to monitor or advise the Client on the status of any transaction (except through a registered Account Manager from the company). Unless otherwise specifically agreed, the Company is not obligated to make an attempt to execute the Client’s order using quotes more favorable than those offered through the Trading Platform.<br>

					The Investment and Ancillary Services which the Company should provide under the terms of the Agreement are stated below, and the Company will provide them in its capacity as a market maker under the terms of this Agreement. The Services that the Company provides in relation to one or more Financial Instruments are the following (the list below shall not be regarded as exhaustive):<br><br>

					a. Reception and transmission of orders in relation to one or more Financial Instruments;<br>

					i. Execution of the orders on behalf of the Clients.<br>

					ii. Dealing on Own Account.<br>

					iii. Portfolio Management.<br>

					iv. Investment Advice.<br>
					</p>

					<p class="text_two">b. Ancillary Services<br>

					i. Safekeeping and administration of the Financial Instruments for the Client’s Trading Account, including custodianship and related services such as cash/cryptocurrency management.<br>

					ii. Granting credits or loans to one or more financial instruments, where the firm granting the credit or loan is involved in the transaction.<br>

					iii. Foreign exchange services where these are connected to the provision of the Investment Services.<br>

					The Company does not provide investment, tax or trading advice unless specified as such between the Client and the Company in a separate agreement. Our services include ‘execution only’ meaning that the Company will act on your instructions and will not advice you on any transaction, nor will we monitor your trading decisions to determine if they are appropriate for you. You should obtain your own financial, legal, taxation and other professional advice from your Account Manager.<br>

					Financial Instruments (the list below shall not be regarded as exhaustive):<br>

					a. Digital Options and/or Binary Options Contracts in cryptocurrency.<br>

					b. Financial Contracts for Differences (CFDs) in cryptocurrencies for short/sell transactions. It should be noted that the client can only trade CFDs on cryptocurrencies exclusively on short/sell transactions. Subsequently, where the Company makes any reference related to CFDs on cryptocurrencies in the Company’s Terms and Conditions, Order Execution Policy, General Fees and any other relevant document, it should be understood and agreed that the statement ‘’CFDs cryptocurrencies’’ only refers to short/sell transactions. The Company reserves the right to, at its sole discretion and for all CFD products, impose the following expiration times: daily/weekly/monthly and/or no expiration at all.<br>

					c. Cryptocurrencies On its Website the Company is entitled to provide financial services of Contracts for Difference (CFD) with intrinsic protection (Protected CFDs). The risk of loss for Protected CFDs is limited to and does not exceed the sum invested by the Client in a particular CFD contract with the addition of any trading and/or ongoing trading fees incurred as a result of opening such CFD. Clients may choose to opt out from the features offered by Protected CFDs by choosing the option to use the balance in their trading account in order to keep a CFD position open (“CFDs on margin”). <br>

					Subject to the provisions of this Agreement, the Company agrees to provide the Client with the Services subject to the Client:<br>

					a. Being of age of maturity in accordance with the jurisdiction he/she resides in or is a resident of, is of legal competence and of sound mind.<br>

					b. Not residing in any country where distribution or provision of the financial products or services offered by the Company would be contrary to local laws or regulations. It is the Client’s responsibility to ascertain the terms of and comply with any local laws or regulations to which they are subject.<br>
					</p>

					<p class="text_two">The Company will offer Services to the Client at the absolute discretion of the Company subject to the provisions of this Agreement.<br>

					The Client is prohibited and shall not, under no circumstances, be allowed to execute any transactions/Operations on the Trading Platform, Website and/or through his/her Account, that would as a result exceed the total balance and/or amount of money deposited/maintained with his/her Account. Such deposited amounts shall be considered to have been provided as collateral, either in the form of a lien or otherwise, to the Company by the Client by which the obligation of the Client to pay any money to the Company is secured.<br><br>

					3. Services of the Company<br>
					Services – services provided by the Company to the Client through the Trading Platform of the Company, including without limitation to customer, analytics, news and marketing information services.<br>

					The Company shall facilitate the execution of trade activities/orders and/or transactions of the Client but the Client hereby acknowledges and accepts that the Company shall not at any time provide any trust services and/or trading consultation or advisory services to the Client.<br>

					The Company shall process all transactions/Operations of the Client in accordance with the terms and conditions of this Agreement and on an execution-only basis. <br>

					The Company shall not manage the Client’s Account nor advise the Client in any way.<br>

					The Company shall process the orders/transactions requested by the Client under this Agreement irrespective of whether such orders/transactions may result to not being beneficial for the Client. The Company is under no obligation to monitor or advise the Client on the status of any transaction/order, to make margin calls to the Client, or to close out any of the Client’s open positions. Unless otherwise specifically agreed, the Company is not obligated to process or attempt to process the Client’s order/transaction using quotes more favorable than those offered through the Trading Platform.</p>

					<p class="text_two">The Company shall not be financially liable for any operations conducted by the Client through the Account and/or on the Trading Platform.
					Each Client shall be the only authorized user of the Company’s services and of the corresponding Account. The Client is granted an exclusive and non-assignable right to the use of and to access the Account and it is his/her responsibility to ensure that no other third party, including, without limitation, to any next of kin and/or to members of his/her immediate family, shall gain access to and/or trade through the Account assigned to her/him.</p>

					<p class="text_two">The Client shall be liable for all orders given through his security information and any orders received in this manner by the Company shall be considered to have been given by the Client. So long as any order are submitted through the Account of a Client, the Company shall reasonably assume that such orders are submitted by Client and the Company shall not be under any obligation to investigate further into the matter. The Company shall not be liable to and/or does not maintain any legal relations with, any third party other than the Client.
					If the Client acts on behalf of any third party and/or on behalf of any third party’s name, the Company shall not accept this person as a Client and shall not be liable before this person regardless if such person was identified or not.</p>

					<p class="text_two">It is understood and agreed by the Client that the Company may from time to time, at its sole discretion, utilize a third party to hold the Client’s funds and/or for the purpose of receiving payment execution services. These funds will be held in segregated accounts from such third party’s own funds and will not affect the rights of the Client to such funds.</p>

					<br>

					<p class="text_two">4. Reception and Transmission / Electronic Trading<br>
					By accepting this Agreement, the Client accepts that he has read and understood all provisions of this Agreement and related information on the Website. The Client accepts and understands that all orders received shall be executed by the Company as the counterparty of the transaction in its capacity of Market Maker. The Company shall act as a principal and not as an agent on the Client’s behalf for the purpose of the Execution of orders. The Client is informed that Conflicts of Interest may arise because of this model.</p>

					<p class="text_two">Reception of the order by the Company shall not constitute acceptance and acceptance shall only be constituted by the execution of the order by the Company.</p>

					<p class="text_two">The Company shall be obliged to execute the Client's orders sequentially and promptly.<br>
					The Client acknowledges and accepts <br>
					a) the risk of mistakes or misinterpretations in the orders sent through the Trading Platform due to technical or mechanical failures of such electronic means, <br>
					b) the risk of any delays or other problems as well as <br>
					c) the risk that the orders may be placed by persons unauthorised to use and/or access the Account, and the Client agrees to indemnify the Company in full for any loss incurred as a result of acting in accordance with such orders.<br><br>

					The Client accepts that during the reception and transmission of his/her order, the Company shall have no responsibility as to its content and/or to the identity of the person placing the order, except where there is gross negligence, willful default or fraud by the Company.<br>

					The Client acknowledges that the Company will not take action based on the orders transmitted to the Company for execution by electronic means other than those orders transmitted using the predetermined electronic means such as the Trading Platform, and the Company shall have no liability towards the Client for failing to take action based on such orders.<br>

					The client acknowledges and agrees that any products or services that may be offered by the Company may not always be available for purchasing or use for trading purposes, and it is in the Company's absolute discretion whether it will make these products available or not to the clients at any time. The Company shall bear no liability, monetary or otherwise, in relation to this section, including without limitation to not making available any product at any given time.<br><br></p>

					<p class="text_two">
                    5. The Client:<br>

					a. Acknowledges that the Account shall be activated upon the deposit of funds/advance payment into the Account.<br>

					b. Warrants that he/she shall at all times be compliant with and honor all terms and conditions of this Agreement<br>

					c. Warrants that he/she shall ensure that at all times the username and password issued by the Company in relation to the use of the Service(s) and the Account, will only be used by him/her and will not be disclosed to any other person;<br>

					d. Shall be liable for all orders submitted through his/her security information and any orders received in this manner by the Company shall be considered to have been given by the Client;<br>

					e. Hereby acknowledges that frequent access and logins to the Account via different IP addresses from different countries and/or via the use of VPN is an indication that shall reasonably lead the Company to believe that our agreement have been breached.<br>

					f. Confirms that any trading strategies and/or investment decisions and/or any activities performed by him/her through his/her Account and on the Trading Platform are made having in mind/considered/being aware of all risks involved and solely on the basis of his/her knowledge and upon his/her sole discretion.<br>

					g. Warrants that he/she shall take all necessary steps and action in order not to disclose any confidential information of the Company which the Company shall disclose to and/or make available to the Client from time to time.<br>

					h. Accepts any risk, including without limitation to any risk of financial loss, that arises from unauthorized access to and operation of his/her Account by third and/or unauthorised parties.<br>

					i. Shall notify the Company of any changes of his/her contact details and any other changes of the personal data he/she provided to the Company, within 7 (seven) calendar days since such changes came into effect.<br>

					j. Shall register only 1 (one) Account with the Company. In case that the Client owns multiple accounts, any transactions/Operations made via such multiple accounts and corresponding financial results of such transactions/Operations, can be canceled to the absolute discretion of the Company. All such multiple accounts can be blocked upon the Company’s absolute discretion, and funds deposited and maintained therein shall not be considered/treated as financial obligation of the Company towards the Client.<br>

					k. Shall indemnify and hold harmless the Company of any claims and/or legal actions instigated against the Company as a result of disclosure of the Client’s personal data.<br>

					l. Irrevocably accept full responsibility for his/her actions according to current tax legislation valid at the place of residence/living of the Client regarding any performed transactions/Operations, including but not limited to revenue/income tax.<br>

					m. Acknowledges that the provision of the Service(s) may involve information being transported over an open network. Information is therefore transmitted regularly and without control across borders. The Company shall take reasonable steps to avoid information being intercepted and read by third parties by utilizing techniques such as encryption, however it is not always possible to avoid third party unauthorized access to/view of the Client’s information/personal data. The Client hereby acknowledges this risk and accepts and consents to this, so long as he/she is reasonably satisfied that any such unauthorized access/disclosure was not made intentionally and that the Company took all reasonable measures and actions in order to prevent such unauthorized access/disclosure.<br>

					n. Acknowledges and agrees that the Company has the right to close any transaction, at its sole and absolute discretion without providing prior notice to the Client if the underlying asset or contract on which the transaction is based settles on an expiry date as determined by the relevant financial market, on which the said asset is traded (such time referred to as 'Closing Time' and the relevant expiring transaction referred to as an 'Expiring Transaction'). The Company shall not be obligated to take actions to roll over an open position in an Expiring Transaction.<br>

					o. Acknowledges that the Company prohibits third party or anonymous payments into the Client’s Account. Only funds sent from an account held in the Client’s name and belonging to the Client are acceptable. The Company reserves the right at its discretion, if it has identified third party or anonymous deposits, to block the Account. The Client should note that any remaining funds will be returned to the third-party source via the same payment method and any profits accumulated by the Client using third party or anonymous funds will not be made available to the Client.<br>

					p. Agrees that in case the Company carries out a transaction/Operation on his/her behalf which is not covered by the balance of his/her Account, the Company shall have the right to liquidate his/her assets and use the proceeds to cover part or the total difference.<br>

					</p>

					<p class="text_two">q. Irrevocably accepts that he/she is solely responsible for any technical deficiencies that may occur in Client’s connection to the Trading Platform, in Client's equipment used for receiving the services (including, but not limited to, personal computer, laptop, mobile phone and etc.), and confirms that he/she shall have no claims whatsoever against the Company for any direct and/or indirect damages the Client may suffer due to such deficiencies.<br>

					r. Acknowledges that the Company has the right to refuse to execute any transaction/Operation requested by the Client and/or any other action required, under this Agreement, for as long as it maintains any claims against the Client, whether these are due, future or contingent and regardless of whether these arise from the same transaction/Operation from which such obligations arise.<br>

					s. Acknowledges and accepts that this Agreement and/or to any materials made available on the Website may be amended unilaterally, from time to time, by the Company, and that he/she shall be responsible to check on the Website frequently in order to ensure that he/she has made himself/herself aware of any changes effected in such manner. Upon the submission of a request by the Client of any transaction/Operation, any changes effected to this Agreement and/or to any materials made available on the Website shall be deemed as acknowledged and accepted by the Client.<br>

					t. If the Company deems that the amendments are material, such amendments will take effect on the date specified in the notice to the Client and if no date is specified, then on the date of receipt of the notice.<br>

					u. The Client understands and agrees that her/his consent is not necessary for any change to be effective. Whether the Client does not respond and/or disagrees with the content of the amendments implemented in the Company’s Terms and Conditions, this will be considered as an acceptance by the Client of the contents of the amendment and of the amended Terms and Conditions. Further, any order of the Client to execute a transaction(s) following the receipt of the notice and/or login into his Account, shall be deemed as acceptance by the Client of the contents of the amendment and of the Agreement as amended.<br>

					v. The Client understands that it is his/her sole responsibility to remain up-to-date with all changes. The applicable version shall be the latest version uploaded on the Company’s website and in the event of a dispute the latest version shall prevail.<br>

					w. In case the Client does not agree with the amendments, the Client shall be entitled to terminate this Agreement in accordance with the Duration and Termination of the Agreement section herein included.</p>

					<p class="text_two">
					        The Client hereby warrants and represents to the Company that he/she:<br>

					a. Is not residing in any country where distribution or provision of financial products or services offered by the Company would be contrary to local law or regulations.<br>

					b. Is responsible to ascertain the terms of and shall comply with, any and all applicable local laws and/or regulations to which he/she is subject to.<br>

					c. Has the legal capacity/competence, is of sound mind and has reached the age of maturity in the country which he is resident or citizen;<br>

					d. Is not under any legal disability with respect to, and is not subject to any laws or regulations which prevents his/her performance of this Agreement or any contract or transaction contemplated by this Agreement.<br>

					e. The Client acts as principal and not as an authorized representative / attorney or trustee of any third party.<br>

					f. The monetary funds and/or financial instruments and other assets delivered for any purpose by the Client to the Company are not connected directly or indirectly to any illegal and/or criminal activities and/or terrorism.<br>

					g. The monetary funds and/or financial instruments and other assets delivered for any purpose by the Client to the Company, shall belong exclusively to the Client and at all times be free from any charge, lien, pledge or encumbrance, unless the Client has otherwise disclosed to the Company in writing.<br>

					h. The financial instruments, information and/or legal documents, which the Client delivers to the Company are authentic, valid and free of any defect and they shall have the legal effect which they contend to have.<br>

					i. The Client certifies that he has provided accurate, complete and true information about himself upon registration and will maintain the accuracy of the provided information by promptly updating any registration information that may have changed. Failure to do so may result in Account closure, Account limitations and/or voiding of any transactions.<br>

					j. The Client will provide KYC documents to the Company within a period not exceeding 7 days from the moment of depositing funds.<br>

					k. The Client confirms that the purpose and reason for registering and operating an Account is to trade, on his/her personal/own behalf, in any financial instruments and to take advantage of the Services offered by the Company. The Client warrants that should the reason for operating an Account change, he/she will inform the Company immediately.<br>

					l. The Client warrants and/or shall repeat the above warranties at all times, including, without limitation, during and/or upon the execution of any transaction/Operation and/or trade, through the Account and the provision of the Services.<br>

					6. The Company shall be entitled to:<br>

					a. Modify the size of the value of the Company’s financial obligations to the Client with changes of the appropriate entry of the trade operations register in case of violation of one or several provisions of the Agreement herein by the Client.<br>

					b. The Company reserves the right to change, add or set as default the option payments rate, return rate, the possibility of adjusting the return rate, the possibility of acquiring the option type, the minimum and/or the maximum option amount, the possible expiration periods for one, several or all of the assets. The company shall be entitled to limit the maximum amount of purchased options for 1 (one) minute, 1 (one) hour, 1 (one) calendar day.<br>

					c. Contact the Client with any question concerning the Agreement herein, including, in order to clarify the Client's intentions regarding his/her actions through the Account.<br>

					d. Unilaterally modify and/or amend and/or restate the terms and conditions of this Agreement and/or the material made available on the Website without prior notice to the Client. The Company shall notify the Client of any such changes through the Website and/or by the delivery of an email to the Client.<br>

					e. Modify the size of the value of the Company’s financial obligations to the Client, if fulfillment of Operations on the Trading Platform does not comply with conditions of the Agreement herein.<br>

					f. Engage third parties with a view to cooperate in order to facilitate and/or enhance any and/or the provision of, the Services under this Agreement.<br>

					g. With regard to any matters and/or obligations that are not covered by this Agreement, the Company shall act accordingly upon its own discretion but at all times in accordance with business custom and existing practices within the line of the Services.<br>

					7. Obligations of the Company:<br>

					a. Subject to the provisions of this Agreement and the Company being reasonably satisfied that the Client is compliant with the terms and conditions of this Agreement and/or has not in any way breached any terms of this Agreement, the Company shall offer the Services through the Website;<br>

					b. To fulfill provisions of the Agreement herein.<br>
					            
					</p>

					<p class="text_two">8. Indemnity and Liability<br>
					The Client shall indemnify and keep indemnified the Company and its directors, officers, employees or representatives against all direct or indirect liabilities (including without limitation all losses, damages, claims, costs or expenses), incurred by the Company or any other third party in respect to any act or omission by the Client in the performance of his/her obligations under this Agreement and/or the liquidation of any financial instruments of the Client in settlement of any claims with the Company, unless such liabilities result from gross negligence, willful default or fraud by the Company. This indemnity shall survive termination of this Agreement.<br>
					The Company shall not be liable for any direct and/or indirect loss, expense, cost or liability incurred by the Client in relation to this Agreement, unless such loss, expense, cost or liability is a result of gross negligence, willful default or fraud by the Company. Notwithstanding the provisions of section 8.1 above, the Company shall have no liability to the Client whether in tort (including negligence), breach of statutory duty, or otherwise, for any loss of profit, or for any indirect or consequential loss arising under and/or in connection with the Agreement.<br>
					The Company shall not be liable for any loss of opportunity as a result of which the value of the financial instruments of the Client could have been increased or for any decrease in the value of the financial instruments of the Client, regardless of the cause, unless such loss is directly due to gross negligence, willful default or fraud on the part of the Company.<br>
					The Company shall not be liable for any loss which is the result of misrepresentation of facts, error in judgment or any act done or which the Company has omitted to do, whenever caused, unless such act or omission resulted from gross negligence, willful default or fraud by the Company.<br>
					The Company shall not be liable for any act or omission or for the insolvency of any counterparty, bank, custodian or other third party which acts on behalf of the Client or with or through whom transactions on behalf of the Client are carried out.</p>

					<p class="text_two">9. Personal Data<br>
					By accepting the terms and conditions of this Agreement, the Client irrevocably consents to the collection and processing of his/her personal data/information by the Company without the use of automatic controls, as the same are provided by him/her to the Company. The term personal data for the purposes of this Agreement shall mean: the Name, Surname, Patronymic, gender, address, phone number, e-mail, IP address of the Client, Cookies and information that relate to the provision of Services to the Client (for example, the Client’s trading story).
					The Client shall be obliged to provide correct, accurate and complete personal data/information as requested by the Company.<br>
					The purpose of collecting and processing the personal data is to comply with applicable regulating legislation requirements, including without limitation to anti-money laundering regulations, as well as for any and all purposes in relation to this Agreement, including without limitation to enable the Company to discharge its obligations towards the Client.
					The Client acknowledges and consents to that, for the purposes described at the section directly above, the Company shall be entitled to collect, record, systematize, accumulate, store, adjust (update, change), extract, use, transfer (disseminate, provide, access), anonymize, block, delete, destroy such personal data and/or perform any other actions according to the current regulating legislation.<br>
					The Client acknowledges and consents to the Company storing, maintaining and processing his/her personal data in the manner as described in this Agreement during the term of the Agreement and for 5 years following any termination of the Agreement.<br>
					The Client hereby acknowledges, accepts, agrees and consents to the disclosure of personal data by the Company to third parties and their representatives, solely for the purposes of the Agreement, including without limitation in order to facilitate processing/execution of the Client’s orders/Operations, provided that at all times (i) the amount of personal data to be disclosed to any such third party is proportionate and/or limited solely to facilitate to the actions as described above, and (ii) the Company shall ensure that such third party shall treat the personal data in accordance with applicable laws and regulations.<br>
					The Company shall not be entitled to make available the personal data in public and/or disclose such personal data for any other purposes, subject to disclosure required under applicable laws and regulations.<br>
					During processing of the personal data, the Company shall take necessary legal, organizational and technical measures to protect such personal data from unauthorized or accidental access, destruction, change, blocking, copying, provision, and dissemination as well as from any other illegal actions.

					</p>

					<p class="text_two">10. Assignment<br>
					The Agreement shall be personal to the Client and the Client shall not be entitled to assign or transfer any of his/her rights or obligations under this Agreement.
					The Company may at any time assign or transfer any of its rights or obligations under this Agreement to a third party. The Company shall notify the Client of any such assignment.<br>

					11. Risk Statement<br>
					The Client hereby confirms to have read, understood and hereby accepts the risk statement relating to the use of Services on the Website, as the same is available electronically via the Website.<br>
					By accepting this Agreement the Client accepts that the Client has read and understood the information contained in this Agreement and the Company’s general description of the nature and risks of different Financial Instruments and/or Service(s) which can be found in our Risk Disclosure.<br>


					12. Charges and Fees<br>
					The Account Manager is entitled to a 10% commission of your profit return. The Company may pay fee/commission to business introducers, referring agents, or other third parties based on written agreement. This fee/commission is related to the frequency/volume of transactions and/or other parameters. Trading fees including taxes, top up, commission, etc., will be charged and is expected to be cleared within specified dates or trading on account will be suspended if necessary. The Company has the right to amend its fees and charges from time to time.<br>

					13. Governing Law<br>
					The terms and conditions of this Agreement as well as any matters pertaining to this agreement, including without limitation to matters of interpretation and/or disputes, shall be governed by the laws of the United States of America.
					The Company and the Clients irrevocably submit to the jurisdiction of the courts of the United States of America.
					The Company shall be entitled to use the interpreter's’ services during the court trial in case of dealing with disputable situation according to the legislation of the the United States of America.<br>

					14. Duration and Termination of the Agreement<br>
					The Agreement herein shall be concluded for an indefinite term.
					The Agreement herein shall come into force when the Client accepts the Agreement and makes an advance payment to his/her Trading Account.
					In case of any discrepancies between the text of the Agreement in English and its translation in any other language, the text of the Agreement in English as a whole shall prevail, as well as the English version/text of any other documentation/information published on the Website.

					</p>

					<p class="text_two">The Agreement may be terminated in any of the following circumstances:<br>

					a. Each Party shall be entitled to terminate this Agreement at any time by giving to the other Party 15 (fifteen) days written notice. During the 15 days notice, the Company may limit the services available to the Client, however access will be granted in order for the Client to withdraw any remaining balance.<br>

					b. The Company shall be entitled to terminate this Agreement, block the Client’s account, and return any remaining funds (if applicable) immediately and without giving prior notice under the following circumstances:<br>

					i. Death or legal incompetence of the Client.<br>

					ii. If any application is made or any order is issued, or a meeting is convened, or a resolution is approved, or any measures of bankruptcy or winding up of the Client are taken.<br>

					iii. The Client violates or the Company has reasonable grounds to believe that the Client violated, any of the Client’s obligations under and/or terms of, this Agreement and/or is in breach of any of the warranties and representations made by her/him in this Agreement.<br>

					iv. If it comes to the Company’s attention and/or the Company has reasonable grounds to believe that the Client has not reached the age of maturity in the country which he is resident or citizen, as applicable.<br>


					v. The Company has suspicion based on available information that the Client:<br>

					a. Is and/or has been using fraudulent means or was involved in a fraudulent scheme in relation to the performance of this Agreement;<br>

					b. Has illegally and/or improperly and/or unfairly and/or otherwise gained an unfair advantage, over and/or to the detriment of (i) other clients of the Company and/or (ii) the Company;<br>

					c. Has unjustly enriched by using information which was intentionally and/or negligently and/or otherwise concealed and/or not disclosed in advance by the Client to the Company and/or for which if the Company had known in advance, it would have not consented and/or it would not have authorised the use of such information by the Client for the purposes of this Agreement; and/or<br>

					d. Has performed acts with the intention and/or effect of manipulating and/or abusing the market and/or the Company’s trading systems and/or deceiving the Company and/or defrauding the Company; and/or<br>

					e. Has acted in bad faith during the performance of his obligations under the Agreement.<br>

					vi. The Client being guilty or the Company has suspicions that the client is guilty, of malicious conduct or gross negligence or fraud or of using fraudulent means or was involved in fraud scheme in relation to the performance of this Agreement.<br>

					vii. The termination is required under applicable law.<br>

					viii. In case the Client receives 2 warnings regarding verbal abuse against employees of the Company.<br>


					ix. The Client has initiated a chargeback in relation to the funds held in the Client’s Account.<br>

					x. Where the Company identifies that the Client is involved and/or is using a high frequency trading software with the purpose of manipulating the Company’s systems and/or trading platform and/or has illegally and/or improperly and/or maliciously and/or knowingly gained an unfair advantage over and/or to the detriment of other clients of the Company and/or the Company and/or this high frequency trading software is designed to abuse the Company’s systems and/or trading platform. <br>

					xi. Where the Company identifies that the Client’s funds and/or payment account(s) have been used to fund a third party account and it has reasonable suspicion that the Client and/or third party is circumventing any of the clauses of the present Agreement by doing so and/or is acting in collaboration with a third party circumventing any of the clauses of this Agreement.

					</p>

					<p class="text_two">15. Terms and Conditions for trading<br>
					The Client shall agree to make a deposit to his/her Account to use the Company Services or any other additional services ordered by the Client on the Website as well as all additional expenses (if necessary). <br>
					The Client shall be completely responsible for timely depositing the funds into his/her Account. Provider of payment services shall ensure only fulfillment of payment in the amount defined by the Site and shall not be liable for payment of the above-mentioned additional amounts by the Website’s Client.<br>

					By accepting the terms and conditions of this Agreement and depositing funds to the Account, the Client agrees to the use the Website’s Services and accepts that the processing of any of the Client’s payment shall be executed by a provider of payment services, being a third party to this Agreement (the “Provider”), and the Client further acknowledges and accepts that no legal right exists for return of already purchased Services or other options of payment cancellation in regards to BTC withdrawal policy.<br>

					The Provider shall not be in any case liable for refuse/impossibility to process the data connected with payment card of the Client, or for refuse connected with failure to obtain permission from the issue bank to process payment using the payment card of the Client. <br>

					The Provider shall not be in any case liable for quality, amount, and price of any service, offered to the Client or purchased by the Client of the Website using the payment card of the Client. <br>

					Paying for any Services of the Website the Client first of all shall be obliged to fulfill the rules of using the Website. We are asking to consider that only the Client as the owner of the payment card shall be liable for timely payment of any service ordered via the Website or Contact Addresses and for all additional expenses/fees connected with this payment. <br>

					The Provider shall only be the performer of payment in the amount specified by the Company and shall not be in any case liable for any pricing, general prices and/or total sums.
					In case of the situation connected with the Client’s dissent with the terms mentioned above and/or any other reasons, we are asking the Client to promptly refuse from making a payment and to directly address the administrator/support of the Website if necessary.</p>

					<p class="text_two">Annex 1 - General Terms<br>
					Technical Regulation<br>
					1. The Client’s Responsibility<br>
					The Client acknowledges that these General Terms is as an integral part of this Agreement.
					It is the Client's responsibility to verify that all transactions and Service(s) received are not contradictory to any applicable law and to undertake any other legal duty emanating from the use of Website at the Client’s sole option, discretion and risk, and the Client is solely responsible for ascertaining whether it is legal in the Client's jurisdiction and/or place of residence. The Client holds sole liability for all transactions in his Trading Account, including all cards transactions or other means of deposit and withdrawal transactions.<br>

					The Client is responsible for securing his/her Username and Password for his Trading Account. The Client holds sole responsibility for any damage caused due to any act or omission of the Client causing inappropriate or irregular use of the Client Trading Account.
					It is clearly stated and agreed by the Client that the Client bears sole responsibility for any decision made and/or to be made by the Client relying on the content of the Website and no claim and/or suit of any kind will arise to that effect against the Company and/or its directors and/or employees and/or functionaries and/or Agents (the Company and/or its Agents).<br> 

					The Company and/or its Agents will hold no responsibility for loss of profits due to and/or related to the Website, Transactions carried out by the Client, Services and the General Terms of use or any other damages, including special damages and/or indirect damages or circumstantial damages caused, except in the event of malicious acts made by the Company.
					Without limitation of the aforesaid and only in the event of definitive judgment by court or other authorized legal institution resolving that the Company and/or its Agent(s) hold liability towards the Client or third party, the Company's liability, in any event, will be limited to the amount of money deposited and/or transferred by the Client to the Trading Account in respect of the transaction which caused the liability of the Company and/or its Agent(s) (if such was caused).</p>

					<p class="text_two">2. Risks<br> 
					The value of the Financial Instruments offered by the Company may increase or decrease. The Client acknowledges that they fully understand the risks involved in trading CFDs (and other similar products).
					CFD Trading does not give you any right to the underlying instrument of the Transaction. This means that you do not have any interests in, or the right to purchase any underlying shares in relation to such instruments because the CFDs represent a notional value only.
					Virtual currencies are complex and high-risk products, and their prices fluctuates widely. 
					The Client acknowledges that he has read, understood and accepted the Company’s risk disclosure information.<br> 

					3. Financial Information<br> 
					The Client should verify the accuracy and reliability of the information on the Website and its appropriateness in comparison with other dependable information sources. The Company will not be held responsible for any allegedly caused claim, cost, loss or damage of any kind as a result of information offered on the Website or due to information sources used by the Website.
					The Client approves and accepts that any oral information given to him/her in respect of his Trading Account might be partial and unverified. The Client accepts sole risk and responsibility for any reliance on the aforementioned information. The Company does not give any warranty that pricing or other information supplied by it through its trading software or any other form is correct or that it reflects current market conditions.<br> 

					4. Processing of Trade Requests and Orders<br> 
					The processing of a Client’s request and/or order shall be carried out as follows:<br> 

					Following submission of a request/order, such request/order shall undergo a correctness test on the Trading Platform;<br> 

					The request/order shall be send from the Trading Platform to the server;<br> 

					The request/order shall undergo a correctness test by the server;<br> 

					The server shall then forward the results of the correctness test to the Trading Platform;<br> 

					In case that the connection between the trading platform and the server is correct, the trading platform will receive the results of processing of the Client request or order by the Company.<br> 

					The time of the process may vary and depends on the quality of the communication between the Trading Platform and the server of the Company, as well as on the market conditions. In normal market conditions the time of the process usually varies between 0-4 seconds. In market conditions that differ from normal, the time of Client request/order processing can be higher than that.<br> </p>

					<p class="text_two">5. Copyright
					<br>

					Copyrights and Intellectual Property (IP) on the Website are the Company's property or of third parties which have authorized the Company to use such IP on the Website and Service(s). It is forbidden to copy, distribute, duplicate, present in public, or deliver the copyrighted material, in whole or in part, to third parties. It is forbidden to alter, advertise, broadcast, transfer, sell, distribute or make any commercial use of the copyrighted material, in whole or in part, except with duly signed prior permission from the Company.
					<br> 

					Unless explicitly stated otherwise, any material and/or message, including without limitation, idea, knowledge, technique, marketing plan, information, questions, answers, suggestions, emails and comments (hereinafter – “Information”) delivered to the Company shall not be considered the Client's confidential or proprietary right of. Consent to the Agreement will be considered as authorization to the Company to use the entire Clients' Information (excluding Clients' Information designated for personal identification), at the absolute and sole discretion of the Company without requirement of any additional permission from the Client and/or the payment of any compensation due to such use.
					<br>

					Client undertakes that any notice, message or any other material supplied by the Client shall be appropriate and shall not harm other persons including their proprietary rights. Client shall refrain from uploading or sending any illegal and/or harmful and/or disturbing to other Clients material, and is strictly forbidden from taking any action, which might damage the Company.
					<br>
					<br>

					6. Content and Third Parties’ Websites
					<br>

					The Website might include general information, news, comments, quotes and other information related to financial markets and/or advertising. Some information is supplied to the Website by unaffiliated companies.
					The Company does not provide investment research. All news, comments, quotes and other information related to financial markets published by the Company are of promotional/marketing nature only.
					The Company does not prepare, edit or promote the information/links and/or other information provided by unaffiliated companies.
					The Company will not be liable for the content of any third-party websites or the actions or omissions of their proprietors nor for the contents of third party advertisements and sponsorship on those websites. The hyperlinks to other websites are provided for information purposes only. Any Client and/or potential client use any such links at his/her own risk.
					<br>
					<br>

					7. Processing of Client Orders to Start Trading
					<br>

					If the amount of available funds is sufficient to start up trade - trading will commence.
					If the size of the available funds is insufficient to start up trade - trading will not commence.
					The Client will be informed of this and to carry out the appropriate cause.
					<br>

					8. Processing of Client Order to Withdraw Profit Return
					<br>

					Processing of Client Order to Withdraw Profit Return occurs at the trading server at the moment of Withdrawal request and transferred within 24 hours.
					<br>

					9. Fraud
					<br>

					In the event that the Company has reasonable suspicion to believe and/or comes to its attention that the Client has acted fraudulently with regard to the subject matter of the Agreement, including without limitation to the following occurrences:
					<br>

					Fraud associated with credit card transactions and other ways to fill a balance that does not belong to the Client;
					Fraud associated with the use of software for false trading results;
					Fraud associated with errors and system failures for false trading results,
					the Company shall be entitled to block the Client's account without prior notice and without the possibility of further money withdrawal and/or entitled to unilaterally terminate the Agreement in the extrajudicial procedure.
					</p>
				</center>
			</div>
		</center>
	</div>      		                            	
</div>

<%- include('partials/_footer'); -%>